.test-creation {
  display: flex;
  flex-direction:column;
  align-items: center;
  &__title {
    width: 100%;
    text-align: left;
    margin-bottom: 50px;
  }
  &__form {
    width: 100%;
    &-item{
      border-radius: 10px;
      background: $accent1;
      max-height: 220px;
      overflow:auto;
      @extend %hide_scroll;
    }
  }

  &__form-box {
    display: flex;
    margin-bottom: 25px;
    .topics {
      flex: 3;
      margin-right: 10px;
      padding: 15px;
      &__input {
        display: block;
        margin-bottom: 8px;
        font-size: 14px;
        line-height: 16px;
        @extend %ubuntu-500;
        input{
          margin-right: 17px;
        }
      }
    }
    .types {
      padding: 10px;
      &__input {
        display: block;
        margin-bottom: 8px;
        font-size: 12px;
        line-height: 14px;
        @extend %ubuntu-700;
      }
 
    }
    
  }

  &__form-btn {
    border-radius: 20px;
    background-color: $accent2;
    width: 100%;
    text-align: center;
  }
}
