.img-page {
  &__content {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: auto;
  overflow-x: hidden;
  height: 44vh;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: 0;  /* Firefox */
    &::-webkit-scrollbar {
      width: 0;
    }
  }
  &__content-item {
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    height: 0px;
    width: 100%;
    transition: transform $animspeed;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: 0;  /* Firefox */
      &::-webkit-scrollbar {
        width: 0;
      }
  }
  &__content-info {
    transform: translateX(-100%);
     display: flex;
    flex-direction: column;
  }
  &__content-title{
    @extend %Roboto-regular;
    font-size: 18px;
    line-height: 20px;
  }
  &__content-definition{
    @extend %Roboto-thin;
    font-size: 15px;
    line-height: 17px;
  }
  &__content-images {
    transform: translateX(100%);
    display: flex;
    flex-direction: column;
  }
  &__content-image{
    width: 100%;
    margin-bottom: 35px;
  }


}
.content {
  &__toolbar {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    }
  &__toolbar-item {
    font-size: 18px;
    cursor: pointer;
    @extend %Roboto-regular;
    opacity: 0.9;
    &:hover{
      opacity: 1;
    }
  }

  &__toolbar-input_info{
    width: 0;
    &:checked ~ .img-page__content-info {
      flex-grow: 1;
      transform: translateX(0%);
     }
     &:checked ~ .underline{  
      transform: translateX(0%);
     }
  }
  &__toolbar-input_images{
    width: 0;
    &:checked ~ .img-page__content-images {
      flex-grow: 1;
      transform: translateX(0%);
     }
     &:checked ~ .underline{  
      transform: translateX(100%);
     }
  }

}

.underline{
  transition: all $animspeed;
  position: absolute;
  height: 3px;
  width: 50%;
  border-radius: 3px;
  top: 2px;
  background-color: $third-color;
  opacity: 1;
}