.test-page {
  background: $main-gradient;
  height: 100%;
  &__inner{
    display: flex;
    flex-direction: column;
  }
}

.test {
		&__header {
      display: flex;
      justify-content: space-between;
		}
		&__body {
      overflow-y: auto;
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: 0;  /* Firefox */
      &::-webkit-scrollbar {
        width: 0;
      }
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 10px;
		}
    &__topic {
      @extend %Oswald-semi;
      width: 100%;
      margin-top: 35px;
      margin-bottom: 50px;
      font-size: 18px;
      line-height: 27px;
      text-align: center;
		}
		&__question{
      width: 80%;
      font-size: 17px;
      margin-bottom: 60px;
      line-height: 20px;
      @extend %Roboto-regular;
      text-align: center;
		}
    &__img{
      width: 80%;
      margin-bottom: 20px;
    }
    &__answer{
      outline: none;
      margin-bottom: 10px;
      border: 1px solid transparent;
      font-size: 17px;
      line-height: 20px;
      @extend %Roboto-regular;
      text-align: center;
      color: $third-color;
      width: 240px;
      padding: 5px 20px;
      background: rgba($main-color, 0.51);
      border-radius: 6px;
      &:hover{
        border: 1px solid $fourth-color;
      }
		}
		&__footer {
      position: absolute;
      bottom: 0px;
      left: 0px;
      right: 0px;
      height: 50px;
      transition: all  500ms;
      background-color: $black;
      display: flex;
      justify-content: space-around;
		}
    &__counter{
      @extend %Roboto-medium;
      font-size: 13px;
      line-height: 15px;
      color: $dark-text;
      background-color: transparent;
      padding: 0 20px;
      display: flex;
      align-items: center;
    }
}