
// Main colors
   $main-gradient: linear-gradient(180deg, rgba(121, 79, 73, 0.79) 0%, #000000 90.62%);
   $main-color:#794F49;
   $second-color: #212121; //
   $third-color: #E7951A;
   
   $fourth-color: #AA6E32;
   $black: #070707;

   $light-text: #fff;
   $dark-text: #545454;

   $right: #596C5D;
   $wrong: #CA5252;
// Activities 
   $animspeed: 300ms;
