@import '../../styles/vars';
.homepage{
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  padding-bottom: $navbar_padding;
}
.stats {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  &__item + .stats__item{
    margin-right: 5px;
  }

  &__item-label {
    @extend %ubuntu-300;
    text-align: center;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 4px;
  }
  &__item-value {
    @extend %ubuntu-500;
    padding: 4px 30px;
    font-size: 18px;
    line-height: 21px;
    border-radius: 4px;
  }
}
.streak {
  width: 80%;
  margin-top: 15px;
  &__label {
    @extend %ubuntu-300;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    margin-bottom: 10px;
  }

  &__bar {
    background-color: $accent1;
    border-radius: 9px;
    overflow: hidden;
    display: flex;
  }

  &__bar-item {
    @extend %ubuntu-300;
    flex: 1;
    font-size: 9px;
    line-height: 12px;
    text-align: center;
    color: $accent1;
    &.done{
      background-color: $green;
      border-right: 1px solid $accent1;
    }
  }
}
